<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="users mdl-list">
  <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser" class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <a [routerLink]="['/user', user._id]">
        <i class="material-icons mdl-list__item-avatar">person</i>
      </a>
      <span>{{user.username}}</span> <span *ngIf="user.admin"> - Admin</span>
      <span class="mdl-list__item-sub-title">{{user.email}}</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <button class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" (click)="deleteUser(user, $event)">
        <i class="material-icons">delete</i>
      </button>
    </span>


  </li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>

<div *ngIf = "selectedUser">
  <h2>{{selectedUser.username | uppercase}} is my hero</h2>
  <button (click)="gotoProfile()">View Profile</button>
</div>
