<div *ngIf="user">

  <h2>
    <span>{{user.username}}</span>
    <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
      [routerLink]="['/edit_user', user._id]"
    >
      <i class="material-icons">mode_edit</i>
    </a>
  </h2>

  <div>
    <label>id: </label>{{user._id}}
  </div>
  <div>
    <label>username: </label>{{user.username}}
  </div>
  <div>
    <label>name: </label>{{user.name}}
  </div>
  <div>
    <label>email: </label>{{user.email}}
  </div>

</div>
