<header class="mdl-layout__header">

	<div class="mdl-layout__header-row">
		<!-- Title -->
		<span class="mdl-layout-title">{{title}}</span>
		<!-- Add spacer, to align navigation to the right -->
		<div class="mdl-layout-spacer"></div>
		<!-- Navigation -->
		<nav class="mdl-navigation">

			<a routerLink="/users" class="mdl-navigation__link" routerLinkActive="active">Users</a>
			<a routerLink="/editprofile" class="mdl-navigation__link" routerLinkActive="active">Edit</a>

			<a *ngIf="!loggedInUser" routerLink="/login" class="mdl-navigation__link" routerLinkActive="active">Login</a>

			<a *ngIf="loggedInUser" [routerLink]="['/user', loggedInUser._id]" class="mdl-navigation__link" routerLinkActive="active">{{loggedInUser.username}}</a>
			<a *ngIf="loggedInUser" (click)="logout()" class="mdl-navigation__link" routerLinkActive="active">Logout</a>

		</nav>

	</div>
</header>

<div>{{message}}</div>