# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
.sublime-project.sublime-workspace
dist

# TypeScript Compiled
client/**/*.js
client/**/*.js.map

# Docker
Dockerfile
docker-compose.yml

client/typings
