<app-map-marker *ngFor="let location of mapObject?.locations; let i = index"
  [googleMap]="googleMap"
  [location]="{lat: location.lat, lng: location.lng}"
  [title]="location.title"
  [index]="i"
  [selected]="i===selectedLocation"
  (onClick)="markerClicked($event)"
  (onDrag)="markerDragged($event)">
</app-map-marker>

<div *ngIf="mapObject" id="sidebar">
  <div class="sidebar-element" id="map-title">{{mapObject.title}}</div>
  <div class="sidebar-element" id="map-toolbar">
    <i (click)="saveMap()" class="material-icons">done</i>Save
    <i (click)="panMode()" class="material-icons">pan_tool</i>
    <i (click)="addMode()" class="material-icons">add_location</i>
  </div>

  <ul class="sidebar-element" id="location-list">
    <li *ngFor="let location of mapObject.locations; let i = index"
      class="location-item"
      [class.selected]="i===selectedLocation">
      <div (click)="selectLocation(i)" class="location-title">
        <i class="material-icons location-icon">place</i>
        {{location.title}}
      </div>
    </li>
  </ul>
</div>

<div #mapContainer id="mapContainer">
</div>

<app-map-dialog id="mapDialog"
  *ngIf="selectedLocation!==null"
  [location]="mapObject?.locations[selectedLocation]"
  [mapPosition]="dialogPosition"
  (onClose)="dialogClosed()"
  (onDelete)="dialogDeleted()"
  (onSave)="dialogSaved($event)">
</app-map-dialog>

    