ul.location-list {
  list-style-type: none;
  background: #3399ff;
  padding: 2px;
}

li.location-item {
  background: #cce5ff;
  margin: 5px;
  padding: 5px;
}

li.location-item:hover {
  background: #ffaaaa;
}
li.location-item.selected {
  background: #ffaaaa;
}


input, textarea{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
}

.column {
}

.coordinates {
  float: right
}

.title {
  font-weight: bold;
}

#mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#mapDialog {
  position: absolute;
  width: 350px;
  max-height: 350px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  background-color: #FFFFFF;
}

#locList {
  position: absolute;
  left: 2%;
  width: 20%;
  z-index: 10;
}

#titleInput {
  width: 60%;
}

#descriptionInput {
  width: 100%;
  height: 4em;
  box-sizing: border-box;
}