#sidebar {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 300px;
  z-index: 10;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25)!important;
}

.sidebar-element {
  padding: 5px;
}

#map-title {
  font-size: 16px;
}

#map-toolbar {

}

#location-list {
  list-style-type: none;
  margin: 0px;
}

.location-item {
  margin: 5px;
}
.location-item:hover {
  background: #f1f1f1;
}
.location-item.selected {
  background: #f1f1f1;
}

.location-icon {
  font-size: inherit;
}

#mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#mapDialog {
  position: absolute;
  width: 350px;
  max-height: 350px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  background-color: #FFFFFF;
}

#titleInput {
  width: 60%;
}

#descriptionInput {
  width: 100%;
  height: 4em;
  box-sizing: border-box;
}

input, textarea{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
}
