<app-map-marker *ngFor="let location of mapObject?.locations; let i = index"
  [googleMap]="googleMap"
  [location]="{lat: location.lat, lng: location.lng}"
  [title]="location.title"
  [index]="i"
  [selected]="i===selectedLocation"
  (onClick)="markerClicked($event)"
  (onDrag)="markerDragged($event)">
</app-map-marker>

<div id="locList" class="column" *ngIf="mapObject">
  <button (click)="saveMap()">Save Map</button>

  <ul class="location-list">
    <li
      class="location-item"
      *ngFor="let location of mapObject.locations; let i = index"
      [class.selected]="i===selectedLocation"
      >

      <div (click)="selectLocation(i)">
        <span class="title">{{location.title}}</span>
      </div>
    
    </li>

  </ul>
</div>

<div #mapContainer id="mapContainer" class="column">
</div>

<app-map-dialog id="mapDialog"
  *ngIf="selectedLocation!==null"
  [location]="mapObject?.locations[selectedLocation]"
  [mapPosition]="dialogPosition"
  (onClose)="dialogClosed()"
  (onDelete)="dialogDeleted()"
  (onSave)="dialogSaved($event)">
</app-map-dialog>

    