<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <%= user %>

  <div>
  <form action="/user/<%= user._id%>/edit" method="post">
    <div>
        <label>Username:</label>
        <input type="text" value='<%= user.username %>' name="username"/>
    </div>
    <p>

    <% if (locals.own) { %>
    <div>
      <label>Change Your Password</label>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Re-Enter Password:</label>
        <input type="password" name="repassword"/>
    </div>
    <% } %>
    
    <p>
    <div>
        <label>Name</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email"/>
    </div>
    <p>
    <div>
        <input type="submit" value="Edit"/>
    </div>
    <p>
    <div>
      <a href="/user/<%= user._id %>/delete">Delete Profile</a>
    </div>

  </form>
</div>

</body>

</html>
