<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <table>
    <% users.forEach(function(user) { %>
      <tr>
        <td><a href="/user/<%= user.id %>"><%= user.username %></a></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><%= user.email %></td>
      </tr>
    <% }) %>
  </table>

</body>

</html>
