<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a routerLink="/users" class="mdl-navigation__link" routerLinkActive="active">Users</a>
        <a routerLink="/login" class="mdl-navigation__link" routerLinkActive="active">Login</a>
      </nav>
    </div>
  </header>
  <div>{{message}}</div>
  <main class="mdl-layout__content">
    <router-outlet #router></router-outlet>
  </main>
</div>
