<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="users">
  <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
    <span class="badge">{{user.id}}</span> {{user.username}}
    <button class="delete-button" (click)="deleteUser(user, $event)">Delete</button>
  </li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addUser()">Add New Hero</button>
<!-- <div *ngIf="addingUser">
  <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} is my hero</h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->

<div *ngIf = "selectedUser">
  <h2>{{selectedUser.username | uppercase}} is my hero</h2>
  <!-- <button (click)="gotoDetail()">View Details</button> -->
</div>
