<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div><a href="/debugmod">Debug Mod</a></div>
  <p>
  <div><a href="/users">Users</a></div>
  <div><a href="/profile">Profile</a></div>
  <div><a href="/user/5779388944f73c5d33cd5fa6">TJ Profile</a></div>

  <div><a href="/login">Login</a></div>
  <div><a href="/signup">Signup</a></div>
  <div><a href="/loginsuccess">Login Success</a></div>
  <div><a href="/logout">Logout</a></div>




</body>
</html>
