<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
</head>

<body>

<% include ../partials/nav.ejs %>


<div id="map">
<h2>My Map</h2>
</div>



    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var mapPoints;
        <% if (typeof(results) !== 'undefined') { %>
          mapPoints = <%= results %>
        <% } else { %>
          mapPoints = 0;
        <% } %>

        if (mapPoints) {
          var markers = [];
          for (var i = 0; i < results.length; i++) {
            markers[i] = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            });
          }
        } else {
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvUckSK2b49tAQH4xwY-ZLFwQmr2Q6VGA&callback=initMap">
    </script>

</body>
</html>
