<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
</head>

<body>

<% include ../partials/nav.ejs %>

<div id="map">
<h2>My Map</h2>
</div>

    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -25.363, lng: 131.044}
        });

        var mapPoints = [{title: 'Uluru (Ayers Rock)', lat: -25.363, lng: 131.044}, {title: 'Sydney Opera House', lat: -33.8568, lng: 151.2153}];
        <% if (locals.locations) { %>
          mapPoints = <%- JSON.stringify(locations) %>;
        <% } %>

        var marker;
        var infoWindow = new google.maps.InfoWindow();
        var n = 0;
        mapPoints.forEach(function(r) {

          marker = new google.maps.Marker({
            position: {lat: r.lat, lng: r.lng},
            map: map,
            title: r.title
          });

          infoWindow = new google.maps.InfoWindow({
            content: r.title
          });

          google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
              infoWindow.setContent(r.title);
              infoWindow.open(map, marker);
            }
          })(marker));

        });

        map.addListener('click', function(e) {
          placeMarkerAndPanTo(e.latLng, map);
        });

      }

      function placeMarkerAndPanTo(latLng, map) {
        var marker = new google.maps.Marker({
         position: latLng,
         map: map
       });
       map.panTo(latLng);
      }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvUckSK2b49tAQH4xwY-ZLFwQmr2Q6VGA&callback=initMap">
    </script>
</body>
</html>
