<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <a href="/user/<%= user._id %>/edit">Edit Profile</a>

  <div>
      <label>Username:</label>
      <%= user.username %>
  </div>
  <div>
      <label>Name:</label>
      <%= user.name %>
  </div>
  <div>
      <label>Email:</label>
      <%= user.email %>
  </div>

</body>

</html>
