

<h2 *ngIf="!signupMode">Login</h2>
<button *ngIf="!signupMode" (click)="toggleMode()">Sign Up</button>

<h2 *ngIf="signupMode">signupMode</h2>
<button *ngIf="signupMode" (click)="toggleMode()">Login</button>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input [(ngModel)]="user.username" class="mdl-textfield__input" type="text" id="username">
    <label for="username">Username</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input [(ngModel)]="user.password" class="mdl-textfield__input" type="password" id="password">
    <label for="password">Password</label>
  </div>

<div *ngIf="signupMode">

  <div class="mdl-textfield mdl-js-textfield">
    <input [(ngModel)]="user.password" class="mdl-textfield__input" type="password" id="confpassword">
    <label for="confpassword">Confirm Password</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input [(ngModel)]="user.email" class="mdl-textfield__input" type="text" id="name">
    <label for="name">Email</label>
  </div>

</div>

<button *ngIf="!signupMode" (click)="login()">Login</button>
<button *ngIf="signupMode" (click)="signUp()">Sign Up</button>
